*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

.hidden {
  display: none;
}

html {
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
  font-family: "Open Sans", sans-serif;
  color: #6d6e71;
}

header {
  padding: 20px;
  text-align: center;
  background-color: #e5f3f2;
}

h1 {
  margin: 0 0 0 0;
  transition: all 200ms;
  font-family: "Roboto Slab", serif;
  font-size: 82px;
  color: #00a79d;
}

main {
  padding: 20px;
}

.card-container,
.input-container {
  max-width: 700px;
  margin: 0 auto;
}

.input-container {
  position: relative;
}

input,
textarea {
  display: block;
  width: 100%;
  max-width: 700px;
  margin: 20px auto;
  padding: 5px;
  resize: none;
  transition: all 200ms;
  font-size: 20px;
  color: #6d6e71;
  border: 2px solid #d1d3d4;
  outline: none;
}

input:focus,
textarea:focus {
  border: 2px solid #00a79d;
}

input::placeholder,
textarea::placeholder {
  color: #d1d3d4;
}

.title-counter {
  position: absolute;
  top: 124px;
  right: 3px;
  padding: 0 10px;
  text-align: right;
  color: #00a79d;
  background-color: #fff;
}

.body-counter {
  position: absolute;
  right: 3px;
  bottom: 53px;
  padding: 0 10px;
  text-align: right;
  color: #00a79d;
  background-color: #fff;
}

textarea {
  height: 35px;
}

.search-input {
  margin-top: 0;
}

button {
  width: 100%;
  height: 35px;
  transition: background 200ms;
  font-size: 16px;
  color: #fff;
  border: none;
  outline: none;
  background-color: #00a79d;
}

button:hover {
  cursor: pointer;
}

.submit-btn:hover {
  background-color: #045e55;
}

.submit-btn[disabled] {
  background-color: #27dbc9;
}
.submit-btn[disabled]:hover {
  cursor: not-allowed;
}

/*Card*/

h3 {
  display: inline-block;
  font-family: "Roboto Slab", serif;
}

h5 {
  display: inline-block;
  font-family: "Roboto Slab", serif;
}

p {
  margin-bottom: 10px;
}

span {
  color: #6d6e71;
}

.card {
  width: 100%;
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 2px solid #d1d3d4;
}
.card.completed {
  text-decoration: line-through;
  color: hsl(0,0%,85%);
}
.card.completed .complete-btn {
  background-image: url("Assets/check-hover-active.svg");
}

.card-header {
  display: flex;
  margin-bottom: 10px;
}

.card-title,
.card-body {
  width: 75%;
  padding: 5px 5px 5px 0;
  transition: all 200ms;
  border: 2px solid transparent;
  border-radius: 5px;
}

.card-title {
  margin-top: -6px;
}

.card-body {
  line-height: 1.5;
}

.card-title:hover,
.card-body:hover {
  cursor: pointer;
}

.card-title:focus,
.card-body:focus {
  padding: 5px 5px 5px 5px;
  border: 2px solid rgba(0,167,157,.3);
  border-radius: 5px;
  outline: none;
  background-color: rgba(0,167,157,.1);
}

.button-container {
  display: flex;
  max-width: 700px;
  margin: 20px auto;

  justify-content: center;
}

.button-container button {
  height: auto;
  margin-right: 5px;
  margin-left: 5px;
  padding: 5px;
  font-size: 13px;
  color: black;
  color: #00a79d;
  border: 1px solid black;
  border: 2px solid #00a79d;
  border-radius: 30px;
  background: #fff;
}

.button-container .all {
  margin-left: 0;
}

.button-container .show-complete-btn {
  margin-right: 0;
}

.filter-btn {
  width: 375px;
  min-width: 65px;
}
.filter-btn:hover {
  color: #fff;
  background-color: #00a79d;
}

.show-complete-btn:hover {
  color: #fff;
  border: 2px solid #5dc66b;
  background: #5dc66b;
}

.show-all-btn {
  display: block;
  width: 200px;
  margin: auto;
}
.show-all-btn:hover {
  background-color: #045e55;
}

.card-btns {
  display: inline-block;
  width: 25px;
  height: 25px;
  padding: 0;
  background-color: inherit;
  background-repeat: no-repeat;
  background-size: cover;
}

.delete-btn {
  display: inline-block;
  float: right;
  margin-left: auto;
  background-color: transparent;
  background-image: url("Assets/delete.svg");
}

.delete-btn:hover {
  background-color: inherit;
  background-image: url("Assets/delete-hover.svg");
}

.complete-btn {
  display: inline-block;
  margin-left: 10px;
  background-color: transparent;
  background-image: url("Assets/check.svg");
}

.complete-btn:hover {
  background-image: url("Assets/check-hover-active.svg");
}

.card-footer {
  display: flex;

  align-items: center;
}

.up-vote {
  margin-right: 8px;
  background-image: url("Assets/upvote.svg");
}

.up-vote:hover {
  background-image: url("Assets/upvote-hover.svg");
}

.down-vote {
  margin-right: 10px;
  background-image: url("Assets/downvote.svg");
}

.down-vote:hover {
  background-image: url("Assets/downvote-hover.svg");
}

.importance {
  font-family: "Open Sans", sans-serif;
  color: inherit;
}

/*Under 420px*/
@media (max-width: 420px) {
  h1 {
    font-size: 40px;
  }

  textarea {
    height: 83px;
  }

  .title-counter {
    top: 76px;
  }
}

/*Under 700px*/
@media (max-width: 700px) {
  .button-container {
    flex-wrap: wrap;
  }

  .filter-btn {
    width: 23%;
    margin: 8px 1%;
    margin-bottom: 8px;
  }

  .button-container button {
    height: 40px;
    margin: 5px 1%;
  }

  .button-container .normal {
    margin-right: 0;
  }

  .button-container .high {
    margin-left: 0;
  }

  .show-complete-btn {
    width: 48%;
  }
}
