*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

html {
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
  color: #6d6E71;
  font-family: 'Open Sans', sans-serif;
}

header {
  padding: 20px;
  background-color: #E5F3F2;
  text-align: center;
}

h1 {
  margin: 0px 0px 0px 0px;
  color: #00A79D;
  font-family: 'Roboto Slab', serif;
  font-size: 82px;
  transition: all 200ms;
}

main {
  padding: 20px;
}

.card-container,
.input-container {
  max-width: 600px;
  margin: 0 auto;
}

input,
textarea {
  display: block;
  width: 100%;
  max-width: 600px;
  margin: 20px auto;
  color: #6d6E71;
  font-size: 20px;
  border: 2px solid #D1D3D4;
  padding: 5px;
  outline: none;
  resize: none;
  transition: all 200ms;
}

input:focus,
textarea:focus {
  border: 2px solid #00A79D;
}

input::placeholder,
textarea::placeholder {
  color: #D1D3D4;
}

textarea {
  height: 35px;
}

.search-input {
  margin-top: 0;
}

button {
  width: 100%;
  height: 35px;
  border: none;
  background-color: #00A79D;
  color: #FFF;
  font-size: 16px;
  outline: none;
  transition: background 200ms;
}

button:hover {
  cursor: pointer;
}

.submit-btn:hover {
  background-color: #045E55;
}

/*Card*/

h3 {
  display: inline-block;
  font-family: 'Roboto Slab', serif;
}

h5 {
  display: inline-block;
  font-family:  'Roboto Slab', serif;
}

p {
  margin-bottom: 10px;
}

span {
  color: #6D6E71;
}

.card {
  width: 100%;
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: 2px solid #D1D3D4;
}

.card-header {
  margin-bottom: 10px;
}

.card-title,
.card-body {
  padding: 5px 5px 5px 0;
  border: 2px solid transparent;
  border-radius: 5px;
  transition: all 200ms;
}

.card-title:hover,
.card-body:hover {
  cursor: pointer;
}

.card-title:focus,
.card-body:focus {
  outline: none;
  border: 2px solid rgba(0,167,157,.3);
  background-color: rgba(0,167,157,.1);
  border-radius: 5px;
  padding: 5px 5px 5px 5px;
}

.card-btns {
  display: inline-block;
  width: 25px;
  height: 25px;
  padding: 0;
  background-color: inherit;
  background-repeat: no-repeat;
  background-size: cover;
}

.delete-btn {
  float: right;
  background-image: url("Assets/delete.svg");
}

.delete-btn:hover {
  background-color: inherit;
  background-image: url("Assets/delete-hover.svg");
}

.card-footer {
  display: flex;
  align-items: center;
}

.up-vote {
  margin-right: 8px;
  background-image: url("Assets/upvote.svg");
}

.up-vote:hover {
  background-image: url("Assets/upvote-hover.svg");
}

.down-vote {
  margin-right: 10px;
  background-image: url("Assets/downvote.svg");
}

.down-vote:hover {
  background-image: url("Assets/downvote-hover.svg");
}

.quality {
  font-family: 'Open Sans', sans-serif;
}

@media (max-width: 420px) {
  h1 {
    font-size: 40px;
  }

  textarea {
    height: 83px;
  }
}
